{
	// This here is for when an NPC has unique sprites for their parts, if your NPC does not have a uniquely animated part, you can delete that part in the table here
	"partImages" : {

		"belly" : "/humanoid/<species>/belly.png",

		"tail" : "/humanoid/<species>/tail.png",

		"cock" : "/humanoid/<species>/cock.png",
		"ballsFront" : "/humanoid/<species>/ballsFront.png",
		"ballsBack" : "/humanoid/<species>/ballsBack.png",

		"breastsCover" : "/humanoid/<species>/breastsCover.png",
		"breastsFront" : "/humanoid/<species>/breastsFront.png",
		"breastsBack" : "/humanoid/<species>/breastsBack.png",

		"pussy" : "/humanoid/<species>/pussy.png"
	},

	// This is for the remap parts, if you do have a unique part, you can remove that part's entry in the table here
	// if you are using a remap part, this is what detemines what color it uses, they are remapping from the human base colors to the base colors of your species
	// the remap works like this a table like this {"a94783":"d39c6c"} recolors the hex codes directly defines in its table as from:to
	// if a remap table is like this ["primary","primary"] it defers to the base colors names in the species file
	"remapParts" : {
		"belly" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				{"a94783":"d39c6c"}, // this one makes the navel match the belly shading color
				//{"a94783":"ffc181"}, // this one makes the navel match the belly main color, therefore, no navel

				// you are mainly going to only change the second entries in these tables to what the color should be on your character
				// example, if in your character, when you were defining your base color map in the species file, your belly would be the "secondary" color then you would make this be ["primary","secondary"]
				["primary","primary"]
			]
		},
		"cock" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"pussy" : {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["flesh","flesh"]
			]
		},
		"ballsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},
		"ballsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"]
			]
		},

		// the nipples in the breasts are the "flesh" color in the human base map, if your character shouldn't have
		// nipples visible, just change the second entry in the remap to something else such as ["flesh","primary"]
		"breastsCover" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"],
				["flesh","flesh"]
			]
		},
		"breastsFront" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"],
				["flesh","flesh"]
			]
		},
		"breastsBack" :  {
			"imagePath" : "any/sbqVoreParts",
			"remapColors" : [
				["primary","primary"],
				["flesh","flesh"]
			]
		}
	}
}
